#img1 {
    background: url(../images/culture/mate1.jpg) no-repeat;
}
#img2 {
    background: url(../images/culture/guaranies1.jpg) no-repeat;
}
#img3 {
    background: url(../images/culture/guaranies2.jpg) no-repeat;
}
#img4 {
    background: url(../images/culture/mate2.jpg) no-repeat;
}
#img5 {
    background: url(../images/culture/mate3.jpg) no-repeat;
}
#img6 {
    background: url(../images/culture/posadas1.jpg) no-repeat;
}
#img7 {
    background: url(../images/culture/fistainmigrante.jpg) no-repeat;
}
#img8{
    background: url(../images/culture/inmigrantes2.jpg) no-repeat;
}
#img9{
    background: url(../images/culture/inmigrantes3.jpg) no-repeat;
}
#img10 {
    background: url(../images/culture/artesania1.jpg) no-repeat;
}
#img11{
    background: url(../images/culture/artesania2.jpg) no-repeat;
}
#img12{
    background: url(../images/culture/artesania3.jpg) no-repeat;
}
#img13{
    background: url(../images/culture/cataratas1.jpg) no-repeat;
}
#img14{
    background: url(../images/culture/cataratas2.jpg) no-repeat;
}
#img15{
    background: url(../images/culture/cataratas3.jpg) no-repeat;
}